@media (max-width: 768px) {
  h1.heading {
    padding-top: 30px;
  }
  .introduction {
    padding: 0 7px;
  }
  .avocado--education {
    text-align: center;
  }
}

@media (max-width: 1023px) {
  .nav--links {
    display: none;
  }
}

@media (max-width: 1439px) {
  h1.heading,
  .introduction,
  .brand--button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1440px) {
  .main--section {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .card--control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact--location--card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1px;
        -ms-flex: 1px;
            flex: 1px;
  }
}

@media (min-width: 1024px) {
  .seasons--info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 358px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav--links {
    position: absolute;
    right: 0px;
  }
  .nav--links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #49590F;
  }
  .nav--links ul li {
    list-style: none;
    margin-right: 3.5vw;
  }
  .nav--menu svg {
    display: none;
  }
}

@media (min-width: 1440px) {
  .main--section {
    width: 70%;
  }
  .left-aligned-content {
    max-width: 682px;
    margin-left: 139px;
    margin-top: 156px !important;
  }
  h1.heading {
    line-height: 75px;
  }
  .introduction {
    height: 172px;
    font-size: 20px;
  }
  .nutrition--section {
    width: 30%;
    min-height: 100vh;
    background-color: #C1D96A;
  }
  .avomainimage {
    display: block !important;
    margin-top: 136px;
  }
  .social--media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 147px;
    margin-left: 50px !important;
  }
  .season--months-info > p {
    font-size: 18px;
  }
  .avocado--education {
    font-size: 20px;
    line-height: 30px;
    max-width: 1364px;
    text-align: left;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  background-color: #F2E5A2;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  color: #86905F;
  font-family: 'Open Sans', sans-serif;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

h1, h2, h3, h4, h5, h6 {
  color: #49590F;
  font-family: 'Lemon', cursive;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

main .main--section header {
  background-color: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1576px;
  height: 43.02px;
  padding: 0% 5%;
  position: fixed;
  top: 21px;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9;
}

main .main--section header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 97.45px;
}

main .main--section header .logo > svg {
  width: 25.88px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  fill: #49590F;
}

main .main--section header .logo .logo--name {
  font-size: 17px;
  font-family: 'Lemon', cursive;
  color: #49590F;
}

main .main--section header .nav--menu svg {
  width: 29.45px;
  fill: #A65221;
}

main .main--section .left-aligned-content {
  margin-top: 70px;
}

main .main--section .left-aligned-content h1.heading {
  font-size: calc(8.9vw%2);
  line-height: calc(45vw%2);
  word-spacing: 10px;
  text-transform: uppercase;
  width: 100%;
  max-width: 682px;
  max-height: 173px;
  padding-bottom: 30px;
}

main .main--section .left-aligned-content p.introduction {
  width: 100%;
  max-width: 509px;
  font-size: calc(4.9vw%2);
  line-height: 35px;
  min-height: 172px;
}

main .main--section .left-aligned-content .brand--button {
  margin-top: 5vw;
  max-width: 345px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 18px 29px -4px #a65221;
          box-shadow: 0px 18px 29px -4px #a65221;
}

main .main--section .left-aligned-content .brand--button button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #C1D96A;
  font-size: 20px;
  font-weight: bold;
  color: #A65221;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  outline: none;
}

main .main--section .left-aligned-content .brand--button button:hover {
  background-color: #49590F;
  color: #F2E5A2;
}

main .main--section .left-aligned-content .brand--button span.brand--button--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  background-color: #49590F;
}

main .main--section .left-aligned-content .brand--button span.brand--button--logo > svg {
  width: 27.39px;
  fill: #F2E5A2;
}

main .main--section .social--media {
  max-width: 98px;
  margin: 100px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main--section .social--media > svg {
  width: 24px;
  fill: #49590F;
}

main .nutrition--section .avomainimage {
  display: none;
  width: calc(25vw);
  margin-left: -12.5vw;
}

.avocado-season .first--image {
  display: none;
}

.avocado-season .season--main .header--section {
  margin-top: 124px;
  text-align: center;
  height: 81px;
}

.avocado-season .season--main .header--section h2 {
  font-size: 30px;
}

.avocado-season .season--main .header--section .sub--heading {
  font-size: 20px;
}

.avocado-season .season--main .seasons--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 15px;
  margin-top: 60px;
  max-width: 88vw;
  max-width: 1364px;
  margin: 0 auto;
  border: 1px solid black;
}

.avocado-season .season--main .seasons--info .season--months-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 472px;
  min-height: 83px;
  max-height: 104px;
  margin-bottom: 45px;
}

.avocado-season .season--main .seasons--info .season--months-info svg {
  width: 100%;
  min-width: 37.85px;
  max-width: 74.61px;
  height: 52.77px;
  max-height: 104px;
}

.avocado-season .season--main .seasons--info .season--months-info p {
  font-size: calc(4.9vw%2);
  max-width: 347px;
  line-height: 30px;
}

.avocado-season .season--main .seasons--info .nov svg path {
  fill: #A65221;
}

.avocado-season .season--main .seasons--info .mar svg path {
  fill: #49590F;
}

.avocado-season .season--main .avocado--education {
  margin-top: 15px;
  font-size: calc(4.9vw%2);
  line-height: 30px;
  height: 100%;
  word-spacing: 0.5rem;
  margin-left: calc(2vw/0.52);
  margin-right: calc(2vw/0.52);
}

.avocado-season .last--image {
  display: none;
}

.kitchen-section {
  background-color: #C1D96A;
}

.kitchen-section .header--section {
  margin-top: 128px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 58px;
  text-align: center;
  width: 100%;
  max-width: 418px;
  height: 81px;
  position: relative;
  top: -40px;
}

.kitchen-section .header--section h2 {
  font-size: 30px;
}

.kitchen-section .header--section .sub--heading {
  font-size: 20px;
}

.kitchen-section .card--control {
  margin: 0 auto;
  width: 100%;
  max-width: 1625px;
}

.kitchen-section .card--control .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 63px;
  width: calc(47vw/0.52);
  max-width: 365px;
  height: 324px;
  background-color: #F2E5A2;
  border-radius: 40px;
  -webkit-box-shadow: 0px 18px 29px -4px rgba(0, 0, 0, 0.253);
          box-shadow: 0px 18px 29px -4px rgba(0, 0, 0, 0.253);
}

.kitchen-section .card--control .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.kitchen-section .card--control .card .top--area {
  width: 100%;
  max-width: 282px;
}

.kitchen-section .card--control .card .top--area .recipe--name {
  font-style: italic;
  display: inline-block;
}

.kitchen-section .card--control .card .top--area .fa {
  float: right;
  position: relative;
  top: 5px;
}

.kitchen-section .card--control .card .top--area .price {
  font-size: 18px;
  font-style: italic;
}

.kitchen-section .card--control .card .food--image {
  width: calc(13vw*4);
  max-width: 216px;
}

.kitchen-section .card--control .card .brand--button {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 345px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kitchen-section .card--control .card .brand--button button {
  width: 100%;
  height: 37px;
  max-width: 282px;
  border: none;
  background-color: #C1D96A;
  font-size: 18px;
  font-weight: bold;
  color: #A65221;
  letter-spacing: 0.13rem;
  outline: none;
}

.kitchen-section .card--control .card .brand--button button:hover {
  background-color: #49590F;
  color: #F2E5A2;
}

.kitchen-section .card--control .card .brand--button span.brand--button--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 37px;
  margin-left: 5px;
  background-color: #49590F;
}

.kitchen-section .card--control .card .brand--button span.brand--button--logo > svg {
  width: 21.65px;
  fill: #F2E5A2;
}

.contact-section .header--section {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  text-align: center;
  width: 100%;
  max-width: 418px;
  height: 81px;
  position: relative;
  top: -40px;
}

.contact-section .header--section h2 {
  font-size: 30px;
}

.contact-section .header--section .sub--heading {
  font-size: 20px;
  font-family: Lemon;
}

.contact-section .contact--location--card {
  width: 100%;
  max-width: 1640px;
  margin-bottom: 130px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact-section .contact--location--card .contact--card {
  width: 100%;
  max-width: 820px;
  height: 123px;
  margin: 0 auto;
  padding: 30px 15px;
  -webkit-box-shadow: 0px 18px 29px -4px rgba(0, 0, 0, 0.233);
          box-shadow: 0px 18px 29px -4px rgba(0, 0, 0, 0.233);
}

.contact-section .contact--location--card .contact--card .content {
  width: calc(4.9vw%2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section .contact--location--card .contact--card .content svg {
  width: 42px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  fill: #49590F;
}

.contact-section .contact--location--card .contact--card .content .details {
  margin-left: 27px;
  font-style: italic;
}

.contact-section .contact--location--card .contact--card .content .details .number {
  font-size: calc(4.9vw%2);
  font-weight: bold;
}

.contact-section .contact--location--card .contact--card .content .details .btn {
  color: #A65221;
  font-size: calc(4.9vw%2);
}

.contact-section .contact--location--card .location--card {
  width: 100%;
  max-width: 820px;
  height: 123px;
  margin: 0 auto;
  background-color: #C1D96A;
  -webkit-box-shadow: 0px 18px 29px -4px rgba(0, 0, 0, 0.233);
          box-shadow: 0px 18px 29px -4px rgba(0, 0, 0, 0.233);
  padding: 30px 15px;
}

.contact-section .contact--location--card .location--card .content {
  width: calc(4.9vw%2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section .contact--location--card .location--card .content svg {
  width: 42px;
  fill: #49590F;
}

.contact-section .contact--location--card .location--card .content .details {
  margin-left: 27px;
  font-style: italic;
}

.contact-section .contact--location--card .location--card .content .details .locat {
  font-size: calc(4.9vw%2);
  font-weight: bold;
}

.contact-section .contact--location--card .location--card .content .details .sub--location {
  color: #A65221;
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */